.ant-table-thead>tr>th {
    background: transparent !important;
    border: none !important;
    font-size: 1.2rem;
    font-weight: 700 !important;
}

.ant-table-tbody>tr>td {
    border: none !important;
}

.ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before {
    display: none !important;
}

::-webkit-scrollbar {
    display: none;
    /* width: 20px; */
}

.table-menu-confirm button, .ant-btn-primary {
    background-color: #1890ff !important;
}