.ant-table-thead>tr>th {
    background: transparent !important;
    border: none !important;
    font-size: 1.2rem;
    font-weight: 700 !important;
}

.ant-table-tbody>tr>td {
    border: none !important;
    width: 100px !important;
}

.ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before {
    display: none !important;
}

::-webkit-scrollbar {
    display: none;
    /* width: 20px; */
}

.table-menu-confirm button, .ant-btn-primary {
    background-color: #1890ff !important;
}

.ant-table {
    border-radius: 0.5rem !important;
    height: 500px !important;
    overflow: scroll;
    padding: 1.75rem 1rem !important;
}

.ant-table table {
    width: 100%;
}

.ActivityDetails .ant-drawer-footer {
    border-top: 0 !important;
}

.ant-input:focus {
    box-shadow: none !important;
    border-right-width: 1px;
    outline: 0;
}